$primary-softblue: hsl(215, 51%, 70%);
$primary-cyan: hsl(178, 100%, 50%);
$neutral-very-darkblue-mainbg: hsl(217, 54%, 11%);
$neutral-very-darkblue-cardbg: hsl(216, 50%, 16%);
$neutral-very-darkblue-line: hsl(215, 32%, 27%);
$neutral-white: hsl(0, 0%, 100%);